
 .swiper-wrapper-custom {
  width: 100%;
}

.custom-grid {
  display: flex;
  gap: 5px;
  align-items: stretch;
}

.small-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 5px;
  flex: 3;
}

.grid-tile {
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  padding-top: 56.25%;
  cursor: pointer;
  overflow: hidden;
}

.feature-tile {
  flex: 2;
  aspect-ratio: 3 / 4;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.text-overlay {
  position: absolute;
  bottom: 12px;
  left: 12px;
  right: 12px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 8px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
}

.text-overlay.large {
  font-size: 20px;
  font-weight: 600;
}


@media (max-width: 768px) {
  .custom-grid {
    flex-direction: column;
  }

  .feature-tile {
    width: 100%;
    aspect-ratio: 16 / 9;
  }

  .small-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.sliderOuter {
  width: 100%;
  padding: 16px;
  overflow: hidden;
}

.magazine-swiper {
  width: 100%;
}

.magazine-group {
  width: auto;
}

.magazine-grid {
  display: flex;
  gap: 5px;
  /* width: 800px; */
  max-width: 100%;
}

.grid-left {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
  flex: 3;
}

.grid-tile {
  position: relative;
  width: 300px;
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 0px;
  cursor: pointer;
  overflow: hidden;
}

.feature-tile {
  position: relative;
  width: 600px;
  height: 405px;
  background-size: cover;
  background-position: center;
  border-radius: 0px;
  cursor: pointer;
  overflow: hidden;
}
.text-overlay {
      position: absolute;
    bottom: 12px;
    left: 12px;
    right: 12px;
    background: rgb(0 0 0 / 68%);
    color: #fff;
    padding: 8px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 500;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(5px);
    border-radius: 0;
}

.text-overlay.large {
  font-size: 20px;
  font-weight: 600;
}

.grid-left.grid-6 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.grid-left.grid-4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}



.grid-left.grid-4 .grid-tilem.grid-left.grid-6 .grid-tile {
  width: 300px;
  height: 200px;
  padding-top: 0; /* remove aspect ratio padding */
}



section.full-swiper .swiper-button-prev,section.full-swiper .swiper-button-next {
    border-radius: 100px;
    background: white;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    --swiper-navigation-size: 26px;
    color: #d02a2b;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

