.single-product{
    /* border: 1px solid red; */
    width: 100%;
    margin-top: 5%;
}

.single-product-img{
    width: 70%;
    margin-left: 15%;
    margin-bottom: 10%;
}
.single-product-content{
    /* border: 1px solid red; */
    width: 100%;
    padding: 3%;
}
@media (min-width:300px) and (max-width:700px) {
    .single-product-img{
        /* border: 1px solid red; */
        width: 100%;
        margin-left:0%;
    }  
    .single-product-content{
        /* border: 1px solid red; */
        width: 100%;
        padding: 3%;
    }
    .postwidget-img{
        /* border: 1px solid red; */
        width: 360px;
    }
}
.post-widget-img{
    width: 360px;
}
.preview{
    color: white;
    text-decoration: none;
}
.preview:hover{
    text-decoration: none;
}
.preview{
    color: white;
    text-decoration: none;
}
.preview:hover{
    text-decoration: none;
}

.postwidget-img{
    width: 360px;
}