.single-product{
    /* border: 1px solid red; */
    width: 100%;
    margin-top: 1%;
}

.single-product-img{
    width: 70%;
    margin-left: 15%;
}
.single-product-content{
    /* border: 1px solid red; */
    width: 100%;
    padding: 3%;
}
@media (min-width:300px) and (max-width:700px) {
    .single-product-img{
        /* border: 1px solid red; */
        width: 100%;
        margin-left:0%;
    }  
    .single-product-content{
        /* border: 1px solid red; */
        width: 100%;
        padding: 3%;
    }
}