
.magzinebook{
    cursor: pointer;
}
.magzinebook:hover{
    color: red;
}
.pointer{
    cursor: pointer;
}
/* .sideBanner {
    position: absolute;
    top: 10;
    z-index: 10;
} */
.sideBanner{
  position: fixed;
  width:8%;
  height: 75%;
  float: left;
  top: 140px;
  z-index: 2;
  /* margin-left: 315px; */
  display: none;  
    /* border: 1px solid red; */
  }
   /* .sideBanner img{
    margin: 0;
    height: 100%;
    width: 100%;
  } */
  .asideBanner{
    position: fixed;
    width:8%;
    height: 75%;
    float: left;
    top: 140px;
    z-index: 2;
    padding-left: 100px;
    margin-left: 255px;
    display: none;
  }
  /* .asideBanner img{
    border: 1px solid red;
    padding: 13%;
    margin-left: 344px;
  } */
  @media (min-width: 768px) {
    .sideBanner{
        display: block;
    }
    .asideBanner{
        display: block;
    }
   
  } 
  .translation{
    position: relative;
    height: 30px;
    /* border: 1px solid red; */
    /* margin-left: auto;
    margin-right: auto; */
    padding-left: 3%;
  }
  .articl{
    margin-left: -18px;
  }
  @media screen and (min-width: 320px) and (max-width: 767px){
    .translation{       
        margin-left: 30%;
      }
  }
  .grid-2{
    width: 100%;
    margin-left: 7%;
  }