
.magzinebook{
    cursor: pointer;
}
.magzinebook:hover{
    color: red;
}
.pointer{
    cursor: pointer;
}
/* .sideBanner {
    position: absolute;
    top: 10;
    z-index: 10;
} */
.sideBanner{
  position: fixed;
  width:8%;
  height: 75%;
  float: left;
  top: 140px;
  z-index: 2;
  /* margin-left: 315px; */
  display: none;  
    /* border: 1px solid red; */
  }
   /* .sideBanner img{
    margin: 0;
    height: 100%;
    width: 100%;
  } */
  .asideBanner{
    position: fixed;
    width:8%;
    height: 75%;
    float: left;
    top: 140px;
    z-index: 2;
    padding-left: 100px;
    margin-left: 255px;
    display: none;
  }
  /* .asideBanner img{
    border: 1px solid red;
    padding: 13%;
    margin-left: 344px;
  } */
  @media (min-width: 768px) {
    .sideBanner{
        display: block;
    }
    .asideBanner{
        display: block;
    }
    
  } 
  /* .translation{
    position: relative;
    height: 45px;
    border: 1px solid red;
    padding-left: 3%;
  } */
  /* .articl{
    margin-left: -18px;
  } */
  @media screen and (min-width: 320px) and (max-width: 767px){
    /* .translation{       
        margin-left: 30%;
      } */
      .dateTime p{
        /* margin-left: auto;
        margin-right: auto; */
        text-align: center;
      }
  }
  .grid-2{
    width: 100%;
    margin-left: 7%;
  }
  .translate {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif !important;
    font-size: 13px;
    color: #939598;
    max-width: 60%;
  }
  
  .google-wrapper {
    display: inline-block;
    width: 150px;
    background-color: #fff;
    color: #939598;
    overflow: hidden;
    position: relative;
    height: 40px;
    line-height: 40px;
    border: 1px solid #ccc;
  }
  
  .google-wrapper select {
    border: none;
    background: transparent;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 13px;
    width: 100%;
    color: #939598;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* -webkit-appearance: none; */
    cursor: text;
    padding: 5px 10px;
  }
  
  .google-wrapper a,
  .google-wrapper a:hover {
    display: inline-block;
    background-color: none;
    border: none;
    color: #939598;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    width: 20px;
    transition: all .3s ease;
    margin: 0;
  }
  
  .google-wrapper a:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border: 4.5px solid transparent;
    border-left-color: #939598;
    position: absolute;
    top: 50%;
    left: 5%;
    margin-top: -5px;
  }
  
  #translator-wrapper select:focus,
  #translator-wrapper a:focus,
  #translator-wrapper select:active,
  #translator-wrapper a:active {
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .google-dropdown {
    background: #FFFFFF;
    color: #939598;
    min-width: 190px;
    padding: 15px;
    line-height: 20px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 10px;
  }
  
  #translator-wrapper a:hover,
  #translator-wrapper a:active {
    opacity: 0.9;
  }
  .hashtag{
    border: 1px solid red;
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* margin-left: auto;
    margin-right: auto; */
    justify-content: center;
  }
  .hashTag1{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    width: 5%;
    justify-content: center;

  }
  /* .subscribe-button{
    border: 1px solid black;
    left: 60%;

  }
  .subscribe-img{
    width: -webkit-fill-available;
  } */
  .parent {
    /* border: 1px solid black; */
    margin: 1rem;
    padding: 2rem 2rem;
    /* text-align: center; */
  }
  .child {
    height: 515px;
    display: flex;
    /* border: 1px solid red; */
    padding: 1rem 1rem;
    vertical-align: middle;
  }
