/* In your CSS file */
.verticalSlider {
    height: 450px; /* Set the desired height */
  }
  
  .verticalSlider .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .verticalSlider .swiper-slide iframe {
    width: 100%;
    height: 100%;
    border: none; /* Remove default iframe border */
  }
  .videoContainer {
    background: #D62B26;
    padding: 15px 15px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background: white;
    position: relative;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.videoHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.videoHeader h3 {
    font-size: 20px;
    color: black;
    font-weight: 600;
}

.vdBtns {
    display: flex;
    align-items: center;
}

.vdBtns button {
    width: 90px;
    color: #d62a26;
    border: 1px solid #d62a26;
    height: 30px;
    font-size: 14px;
    font-weight: 500;
}

.vdBtns button:first-child {
    border-right: none;
}

button.bt-rvrs {
    color: white;
    background: #d62a26;
}

.videoSlider {
    border-radius: 10px;
    overflow: hidden;
}

.verticalSlider {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
section.videoSctin {
    padding: 10px;
    position: relative;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 15px;
    margin-top:10px;
}

.videoSctin:before {content: '';position: absolute;background: linear-gradient(120deg, #ff0000, #832d2d);top: 0;left: 0;height: 100%;width: 100%;border-radius: 15px;}

.videoContainer {}