/* Navbar.css */
.asli-navbar {
  background-color: transparent;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
  position: relative;
}

/* .logo {
  color: #fff;
  font-size: 24px;
} */

.nav-linking {
  list-style: none;
  display: flex;
}

.nav-linking li {
  margin: 0 15px;
  /* padding-top: 6px; */
}

.nav-linking a {
  text-decoration: none;
    color: black;
}

/* Media Query for Mobile View */
@media (max-width: 768px) {
  .nav-linking {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #333;
    padding: 10px 20px;
  }

  /* .nav-linking.open {
    display: flex;
  } */
  .nav-linking.open{
    display: flex;
    /* border: 1px solid red; */
    visibility: visible;
    background-color: white;
    /* margin: -5px;
    height: 500px; */
    margin-left: -5%;
    height: 500px;
    width: 115%;
    top: 50px;
  }

  .nav-linking li {
    margin: 6px 10px;
    text-align: center;
  }

  .toggle-buttons {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
  }
  .asli-navbar {
    background-color: transparent;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
  }
}
