.backgroundMenu1 {
    border: 1px solid rgb(171, 170, 170);
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: white;
    color: black;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;

}

.navbar {
    background-color: white;
    font-size: 18px;
    font-weight: 700;
    padding-top: 16px;
    padding-right: 18px;
    padding-left: 18px;
    text-decoration: none;
    height: 58px;
}

.navbar:hover {
    background-color: red;
    color: white;
    text-decoration: none;
}

@media screen and (min-width: 0px) and (max-width: 500px) {
    .backgroundMenu1 {
        border: 1px solid rgb(171, 170, 170);
        height: 600px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: white;
        color: black;
        text-align: center;
        position: relative;


    }
/* 
    .navbar {
        background-color: white;
        position: relative;
    }

    .navbar:hover {
        background-color: red;
        color: white;
        text-decoration: none;
    } */
}