/* body {
  margin: 0;
  background: #151616;
  font-family: roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


 .background {
  --bg:  white;
  --bg-accent: black;
  --text-color: black;
  --nav-size: 60px;
  border-radius: 8px;
  --speed: 500ms; 
margin-bottom: -20px; 
color:black;
text-decoration: none;
font-weight: 500; 
position: -webkit-sticky;
position: sticky;
top: 0;
z-index: 10;
} 

@media screen and (min-width: 0px) and (max-width: 500px) {
  .background{
    width:100%;
    background-color: white;
}

}
@media screen and (min-width: 0px) and (max-width: 500px) {
  .logosmall{
    width:160px;
    position: absolute;
    left:10px;
    top:12px;

  }
}
  


 ul {
  list-style: none;
  margin-top: 0;
  padding: 0;
  
} 

a {
  color: var(--text-color);
  text-decoration: none;
  color:black;
  
}

/* Top Navigation Bar */

/* <nav> */
 .navbar {
  height: var(--nav-size);
   /* background-color: var(--bg);  */
   padding: 0 1rem; 
   font-weight: bold;
   border-bottom: var(--border);
   text-decoration: none;
   position: -webkit-sticky;
position: sticky;
top: 0;
background-color: white;
border: 1px solid rgb(221, 218, 218);
border-right: none;
border-left: none;
  }  

  @media screen and (min-width: 0px) and (max-width: 500px) {
    .navbar{

background-color: white;
width:100%;
margin-left:0;

    }
  }
  .down{
    padding-left: 10px;
    padding-top: 2px;
  }
  
/* <ul> */
.navbar-nav {
  width:100%;
  /* height: 100%; */
  display: flex;
  justify-content: flex-end;
    
}
@media screen and (min-width: 0px) and (max-width: 500px) {
  .navbar-nav{
width:100%;
  }
}
 .navclick{
  display: none;
} 
@media screen and (min-width: 0px) and (max-width: 500px) {
.navclick{
  position: relative;
  left:15px;
  top:8px;
  display: inline;
 font-size: 20px;
 background-color: rgb(184, 180, 180);
 width:30px;
}
}


/* <li> */
.nav-item {
  height:60px;
  
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 500;
  
}
@media screen and (min-width: 0px) and (max-width: 500px) {
  .nav-item{
     display: none;
  }
}



/* Icon Button */
.icon-button {
  /* --button-size: calc(var(--nav-size) * 0.5); */
  /* width: var(--button-size);
  height: var(--button-size); */
  /* border-radius: 50%;  */
 
  padding: 10px;
  margin: 2px;
  display: flex;
  justify-content: center;
  transition: filter 300ms;
  font-size: 14px;
  font-weight: 700;
}

.icon-button:hover {
  background-color: red;
  color:white;
  text-decoration: none;

}

.icon-button svg { 
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}


/* Dropdown Menu */

.dropdown {
  position: absolute;
  top: 62px;
  width: 250px;
  height:100px;
  transform: translateX(25%); 
  background-color: var(--bg);
  border: var(--border); 
  padding: -50px;
   z-index: 11;
   transition: height var(--speed) ease; 
}
.dropdown1 {
  position: absolute;
  top: 62px;
  left:900px;
  width: 300px;
  height:100px;
  transform: translateX(-45%);
  background-color: var(--bg);
  border: var(--border);
  padding: -50px;
   z-index: 11;
  transition: height var(--speed) ease;
}

.dropdown2 {
  position: absolute;
  top: 62px;
  left:900px;
  width: 300px;
  height:80px;
  transform: translateX(-45%);
  background-color: var(--bg);
  border: var(--border);
  padding: 1rem;
   z-index: 11;
  transition: height var(--speed) ease;
}

.dropdown3 {
  position: absolute;
  top: 62px;
  left:900px;
  width: 300px;
  height:80px;
  transform: translateX(-70%);
  background-color: var(--bg);
  border: var(--border);
  padding: 1rem;
   z-index: 11;
  transition: height var(--speed) ease;
}

.dropdown4 {
  position: absolute;
  top: 62px;
  left:900px;
  width: 200px;
  height:80px;
  transform: translateX(-65%);
  background-color: var(--bg);
  border: var(--border);
  padding: 1rem;
   z-index: 11;
  transition: height var(--speed) ease;
}

/* .dropdown:hover{
    background-color: red;
} */

.menu {
 
  width: 100%;
  z-index: 2;
}

.menu-item {
  height: 30px;
  display: flex;
  text-decoration: none;
  justify-content: left;
  border-radius: var(--border-radius);
  transition: background var(--speed); 
  padding: 0.5rem; 
  z-index: 2;
}

.menu-item .icon-button {
  margin-right: 0.5rem;
}


.menu-item .icon-button:hover {
  filter: none;
}

.menu-item:hover {
  background-color: red;
  color:white;
  text-decoration: none;
} 

.icon-right {
  margin-left: auto;
}

/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}


.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
/* .menu-secondary-exit {

} */
.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}
.menu2{
  width: 780px;
  
}
.pagesback{
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.col1{
   height:200px;
  width:170px; 
  
  text-align: left;
  display: flex;
  flex-direction: column;
}
.head1{
  font-size:20px;
    height:40px;
    width:170px;
    
  font-weight: 500;
}
.row1{
  height:25px;
  width:170px;
  border-bottom: 1px solid rgb(203, 197, 197);
  padding-top: 5px;
  margin-top: 5px;
  font-size:smaller;
  font-weight: bold;
  cursor: pointer;
}
.row1:hover{
color:red;

}

.col2{
   height:200px;
  width:170px; 
  
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-left: 20px;
}
.head2{
  font-weight: 500;
  height:40px;
  width:170px;
  font-size: 20px;
  
}
.row2{
height:25px;
width:170px;
border-bottom: 1px solid rgb(203, 197, 197);
padding-top: 5px;
font-size: smaller;
font-weight: bold;
margin-top: 5px;
cursor: pointer;
}
.row2:hover{
  color:red;
  
  }
.col3{
  height:200px;
  width:170px; 
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-left: 20px;
}
.head3{
  font-size: 20px;
  height:40px;
  width:170px;
  font-weight: 500;
}
.row3{
  
height:25px;
width:170px;
border-bottom: 1px solid rgb(203, 197, 197);
font-size: smaller;
font-weight: bold;
margin-top: 5px;
padding-top: 5px;
cursor: pointer;
}
.row3:hover{
  color:red;
  
  }
.col4{
   height:200px;
  width:170px; 
  
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-left: 20px;

}
.head4{
  font-weight: 500;
  height:40px;
  width:170px;

  font-size: 20px;
}
.row4{
height:25px;
width:170px;
border-bottom: 1px solid rgb(203, 197, 197);
padding-top: 5px;
font-weight: bold;
font-size: smaller;
margin-top: 5px;
cursor: pointer;
}
.row4:hover{
  color:red;
  
  }

.last{
  height:140px;
  width:750px;
  margin-top: -40px;
  overflow: hidden;
}
.last:hover{
  overflow: visible;
}
.menu3{
  width: 1200px;
}

.fashionback{
  height: 390px;
  width: 1170px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: -10px;
}
.fashion-margin{
  height: 388px;
  width: 200px;
  display: flex;
  flex-direction: column;
}
.all{
  color: red;
  font-size: medium;
  padding-left: 20px;
  padding-top: 20px;
}
.fashion-box1{
  margin-left: 25px;
  margin-top: 20px;
  height: 335px;
  width: 300px;
  background-color: rgb(237, 236, 236);
}
.image40{
  height: 200px;
  width: 300px;
}
.fashion-box2{
  margin-left: 25px;
  margin-top: 20px;
  height: 335px;
  width: 300px;
  background-color: rgb(237, 236, 236);
}
.image41{
  height: 200px;
  width: 300px;
}
.fashion-box3{
  margin-left: 25px;
  margin-top: 20px;
  height: 335px;
  width: 300px;
  background-color: rgb(237, 236, 236);
}
.image42{
  height: 200px;
  width: 300px;
}

.fashion-margin1{
  display: flex;
  flex-direction: column;
  height: 323px;
  width: 198px;
  margin-top: 10px;
  background-color: rgb(237, 236, 236);
  border: 1px solid black;
  border-left: none;
  border-bottom: none;
}

.fashion-margin2{
height: 50px;
width: 195px;
padding-top: 10px;
padding-left: 20px;
}

.fashion-margin2:hover {
  color: red;
  background-color: white;
}
.fashion-margin3{
  height: 50px;
  width: 195px;
  padding-top: 10px;
  padding-left: 20px;
  }
  .fashion-margin3:hover {
    color: red;
    background-color: white;
  }
  .fashion-margin4{
    height: 50px;
    width: 195px;
    padding-top: 10px;
    padding-left: 20px;
    }
    .fashion-margin4:hover {
      color: red;
      background-color: white;
    }
    .menu4{
      width: 920px;
    }
    
    .sportsback{
      height: 500px;
      width: 900px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      margin-left: -10px;
    }
    .sportsmargin{
      height: 490px;
      width: 200px;
      display: flex;
      flex-direction: column;
    }
    
    .sports-margin1{
      display: flex;
      flex-direction: column;
      height: 500px;
      width: 198px;
      margin-top: 10px;
      background-color: rgb(237, 236, 236);
      border: 1px solid black;
      border-left: none;
      border-bottom: none;
    }
    
    .sports-margin2{
    height: 50px;
    width: 200px;
    padding-top: 10px;
    padding-left: 20px;
    cursor: pointer;
    }
    .sports-margin3{
      height: 50px;
      width: 198px;
      padding-top: 10px;
      padding-left: 20px;
      cursor: pointer;
      }
    .sports-margin4{
      height: 50px;
      width: 198px;
      padding-top: 10px;
      padding-left: 20px;
      cursor: pointer;
    }
    
    .sports-margin2:hover {
      color: red;
      background-color: white;
    }
    
      .sports-margin3:hover {
        color: red;
        background-color: white;
      }
    
        .sports-margin4:hover {
          color: red;
          background-color: white; 
        }
    .sports-box1{
      height: 450px;
      width: 330px;
      margin-left: 25px;
      margin-top: 23px;
      background-color: rgb(237, 236, 236);
    }
    .sports-box2{
      height: 450px;
      width: 320px;
      margin-left: 25px;
      margin-top: 23px;
    }
    .image1{
      cursor: pointer;
      height:220px;
      width: 330px;
    }
    .sub1{
      height: 112px;
      width: 320px;
    }
    .sub2{
      height: 112px;
      width: 320px;
    }
    .sub3{
      height: 112px;
      width: 320px;
    }
    .sub4{
      height: 112px;
      width: 320px;
    }
    .small1{
      float: left;
      margin-top: 13px;
      cursor: pointer;
    }
    