#total-magzine {
  background-image: url("./Jpeg/magzine-background-grey.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.image-viewer {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.zoom-buttons {
  margin-bottom: 10px;

}

.demoPage {
  max-width: 100%;
  transition: width 0.3s ease-in-out;
}

.api-images {
  width: 380px;
  height: 500px;
}

.head-box {
  /* border:1px solid blue; */
  text-align: center;
  height: 100vh;
  background-image: url("./Jpeg/magzine-background-grey.jpg");
  background-repeat: no-repeat;
  background-size: cover;


}

.box {
  box-shadow: 0 0 5px 2px #3b3b3b;
}




.demo-book {
  max-width: 100%;
  min-width: 380px;
  min-height: 500px;
  width: 100%;
  max-width: 100%;
  display: block;
}

.stf__parent {
  position: relative;
  display: block;
  box-sizing: border-box;
  transform: translateZ(0);
  margin-left: auto;
  margin-right: auto;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  /* margin-top: 4%;  */
  /* margin-bottom: 10%; */
}



.sft__wrapper {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}



.stf__parent canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}



.stf__block {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  perspective: 2000px;
}



.stf__item {
  display: none;
  position: absolute;
  transform-style: preserve-3d;
}



.stf__outerShadow {
  position: absolute;
  left: 0;
  top: 0;
}



.stf__innerShadow {
  position: absolute;
  left: 0;
  top: 0;
}



.stf__hardShadow {
  position: absolute;
  left: 0;
  top: 0;
}



.stf__hardInnerShadow {
  position: absolute;
  left: 0;
  top: 0;
}

/* sideflip-btns */

.sideflip-btn {
  display: flex;
  flex-direction: row;
  height: 40px;
  width: 100%;
 
  justify-content: space-between;
  position: absolute;
  top: 48%;
}

.glyphicon-chevron-left {
  font-size: x-large;
  cursor: pointer;
}

.glyphicon-chevron-right {
  font-size: x-large;
  cursor: pointer;
}

/* downward-buttons */

.downwards-bar {
  height: 42px;
  width: 230px;
  /* border: 1px solid black; */
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  z-index: 2;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  border: 1px solid black
}

.btn1 {
  height: 0px;
  width: 0px;

  margin-left: auto;
  margin-right: auto;
  margin-top: -25%;
  background-color: white;

}

.btn2 {
  height: 38px;
  width: 38px;
  cursor: pointer;
  border: 1px solid white;
}

.fa-chevron-left {
  height: 38px;
  width: 38px;
  padding-top: 13px;
  padding-left: 13px;
  color: white;
  border: 1px solid white;
  background-color: rgb(75, 73, 73);
}


.btn3 {
  height: 38px;
  width: 38px;
  cursor: pointer;
  border: 1px solid white;
}

.fa-chevron-right {

  height: 38px;
  width: 38px;
  padding-top: 13px;
  padding-left: 14px;
  color: white;
  border: 1px solid white;
  background-color: rgb(75, 73, 73);
}

.btn4 {
  height: 38px;
  width: 38px;
  cursor: pointer;
  border: 1px solid white;
}

.fa-search-plus {
  height: 38px;
  width: 38px;
  padding-top: 13px;
  padding-left: 13px;
  color: white;
  border: 1px solid white;
  background-color: rgb(75, 73, 73);
}

.btn5 {
  height: 38px;
  width: 38px;
  cursor: pointer;
  border: 1px solid white;

}

.fa-search-minus {
  height: 38px;
  width: 38px;
  padding-top: 13px;
  padding-left: 12px;
  border: 1px solid white;
  color: white;

  background-color: rgb(75, 73, 73);
}

.btn6 {
  height: 38px;
  width: 38px;
  cursor: pointer;
  border: 1px solid white;

}

.fa-arrows-alt {
  height: 38px;
  width: 38px;
  padding-top: 13px;
  padding-left: 12px;
  border: 1px solid white;
  color: white;

  background-color: rgb(75, 73, 73);
}

.fa-share-alt {
  height: 38px;
  width: 38px;
  padding-left: 12px;
  padding-top: 13px;
  color: white;
  margin-top: 1px;
  background-color: rgb(75, 73, 73);
  border: 1px solid white;
  cursor: pointer;
}

.exit {
  font-size: x-large;
  cursor: pointer;
  position: absolute;
  top: 2%;
  right: 2%;
}


.total-magzine {
  height: 100vh;
}


/* social-media-pop-up-share-icons */


.link-copied-to-clipboard {
  height: 20px;
  width: 153px;
  position: absolute;
  top: 87px;
  left: 140px;
  border-radius: 12px;
  background-color: #1f1e1e;
  color: white;
}

.pop-up-share-icons {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  background-color: white;
  border-radius: 20px;
  padding-right: 5px;
  padding-left: 5px;

  box-shadow: 0px 0px 25px black;
  transform: translate(-50%, -50%) scale(1.2);
  transition: top 0s 0.2s ease-in-out,
    opacity 0.2s 0s ease-in-out,
    transform 0.2s 0s ease-in-out;


}

.pop-up-share-icons-close {
  position: absolute;
  left: 92%;
  border: none;
  /* background-color: white; */
  height: 0px;
  display: inline;
}




.pop-up-share-icons :is(header, .icons, .field) {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.pop-up-share-icons header {
  padding-bottom: 15px;
  border-bottom: 1px solid #ebedf9;
}

header span {
  font-size: 21px;
  font-weight: 600;
}

header .close,
.icons a {
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

header .close {
  color: #878787;
  font-size: 17px;
  background: #f2f3fb;
  height: 33px;
  width: 33px;
  cursor: pointer;
}

header .close:hover {
  background: #ebedf9;
}

.pop-up-share-icons .content {
  margin: 20px 0;
}

/* .pop-up-share-icons .icons {
  margin: 15px 0 20px 0;
} */

.content p {
  font-size: 16px;
}

.content .icons a {
  height: 5px;
  width: 50px;
  font-size: 20px;
  text-decoration: none;
  margin-left: -40%;
  /* border: 1px solid red; */
  /* gap: 1px; */
}

.icons a i {
  transition: transform 0.3s ease-in-out;
}

.icons .fb {
  color: #1877F2;
  border-color: 1pc solid #b7d4fb;
}

.icons .fb:hover {
  color: #1877F2;
}

.icons .tw {
  color: #46C1F6;
  border-color: #b6e7fc;
}

.icons .tw:hover {
  color: #46C1F6;
}

.icons .li {
  color: #0072b1;
  border-color: #f5bccf;
}

.icons .li:hover {
  color: #0072b1;
}

.icons .wt {
  color: #25D366;
  border-color: #bef4d2;
}

.icons .wt:hover {
  color: #25D366;
}

.icons .tl {
  color: #0088cc;
  border-color: #b3e6ff;
}

.icons .tl:hover {
  color: #0088cc;
}

.icons a:hover {
  color: #fff;
  border-color: transparent;
}

.icons a:hover i {
  transform: scale(1.2);
}

.content .field {
  margin: 12px 0 -5px 0;
  /* height: 45px; */
  border-radius: 4px;
  padding: 0 5px;
  border: 1px solid #e1e1e1;
}

.field.active {
  border-color: #7d2ae8;
}

.field i {
  width: 38px;
  font-size: 18px;
  text-align: center;

}

.field.active i {
  color: #7d2ae8;
}

.field input {
  width: 100%;
  /* height: 100%; */
  border: none;
  outline: none;
  font-size: 15px;
  margin-left: -13%;
}

.field button {
  /* color: ; */
  padding: 0px;
  border: 1px solid #f2f3fb;
  background: white;
  width: 15%;
  /* background: #7d2ae8; */
}

.field button:hover {
  color: #0088cc;
}